.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  min-height: 80vh;
  height: 80vh;
}
.banner_contents {
  margin-left: 3rem;
  padding: 0.75rem 1rem;
  width: 40%;
  line-height: 2;
}
.banner_title {
  font-size: 2rem;
  font-weight: 800;
  color: #fff;
}
.banner_buttons {
  margin: 0.25rem;
}
.banner_button {
  outline: none;
  border: none;
  cursor: pointer;
  height: 2.5rem;
  padding: 0.5rem 0.75rem;
  font-weight: 600;
  width: 30%;
  margin-right: 1rem;
  border-radius: 0.25rem;
}
.banner_discription {
  margin-top: 1.5rem;
  font-size: 1rem;
  color: #fff;
}
