.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  min-height: 10vh;
}
.nav_contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.25rem;
}
.nav_logo_container {
  display: flex;
  align-items: center;
  width: 40%;
}
.nav_avatar_container {
  margin-right: 0.5rem;
}
.nav_logo {
  height: 3rem;
  width: 4rem;
  cursor: pointer;
}
.nav_avatar {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}
.nav_dark {
  background-color: #030d45;
}
.brand_light {
  color: #fff;
}
.brand_dark {
  color: #030d45;
}
