* {
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background: #020440;
  border-radius: 10px;
}

/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */
